@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: lato;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:'header'
                        'nav '
                        'welcome'
                        'profile';
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.welcome {
    grid-area: welcome;
}

.aside {
    grid-area: aside;
}

.profile {
    grid-area: profile;
}

@media (min-width: 1280px) {
    .container {
        display: grid;
        grid-template-areas: 'header header header header'
                             'nav nav nav nav'
                             'welcome welcome welcome welcome'
                             'aside profile profile profile'
                             ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }
}

.highlight{
    border: 1px solid #ff6200;
    background-color: #FBF3EE;
}